<?xml version="1.0" encoding="UTF-8"?>
<bean:beans xmlns:bean="http://www.springframework.org/schema/beans"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns="http://www.springframework.org/schema/security"
            xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/security
            http://www.springframework.org/schema/security/spring-security.xsd">

    <http auto-config="true">
        <intercept-url pattern="/" access="hasAnyAuthority('USER', 'ADMIN')"></intercept-url>
        <intercept-url pattern="/regUser" access="hasAnyAuthority('ADMIN')"></intercept-url>
        <intercept-url pattern="/rol_usuario" access="hasAnyAuthority('ADMIN')"></intercept-url>
        <intercept-url pattern="/usuario" access="hasAnyAuthority('ADMIN')"></intercept-url>
        <intercept-url pattern="/rol" access="hasAnyAuthority('ADMIN')"></intercept-url>
        <intercept-url pattern="/indexAdmin" access="hasAnyAuthority('USER', 'ADMIN')"></intercept-url>
        <intercept-url pattern="/logout" access="hasAnyAuthority('USER', 'ADMIN')"></intercept-url>


    <form-login login-page="/login"
                authentication-failure-forward-url="/error"
                username-parameter="username"
                password-parameter="password"/>
        <csrf disabled="true"/>
       <logout logout-success-url="/login"/>

    </http>


    <!--Autenticación usando mysql y jpa-->
    <authentication-manager>
        <authentication-provider>
            <password-encoder hash="bcrypt"/>
            <jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query="select u.username, u.password, ru.habilitado from usuario as u inner join rol_usuario as ru on (ru.username = u.username) where u.username = ?"
                               authorities-by-username-query="select ru.username, r.nombre from rol_usuario as ru inner join rol as r on (ru.idrol = r.idrol) where ru.username = ?"/>
        </authentication-provider>
    </authentication-manager>


</bean:beans>